.App {
  text-align: center;
}

.centerAlign{text-align: center;vertical-align: middle;}



navbar-nav>li>.dropdown-menu {
  background-color:  black !important
}

  open>.dropdown-menu {
    background-color: #080808 !important
  }

     .dropdown-menu{
      background-color:  #222222 !important
    }

  .dropdown-menu>.active>a {
    background-color: #222222 !important;
  }

  .dropdown-menu>.active>a:hover {
    background-color: #080808 !important;
  }